//-
//- FOOTER
//- This is a footer section
//-

footer.footer
  .container
    ul.footer-links
      li
        a(href="#") NodeSchool
      li
        a(href="#") GitHub
      li
        a(href="#") Gitter
      li
        a(href="#") VK
      li
        a(href="#") Code of Conduct
