//-
//- HEADER
//- Header partial
//-

header.header
  include _navbar
  .container
    .header-content
      h2.header-subtitle NodeSchool
      h1.header-title Chernivtsi
      .next-event
        a(
          class="btn btn-default btn-primary btn-sign-up",
          href="#",
          role="button") Go to school!
        span Next event: 24 May 2016 
