//-
//- LAYOUT
//- This file is used as main template for page
//-

doctype html
html(lang=lang)
  head
    block title
      title NodeSchool Chernivtsi
    include _head
  body
    block body
      .container
    include _scripts
    include _analytics
