doctype html
html(lang="en")
  head
    title Pug
    link(rel="stylesheet", type="text/css", href="styles/index.css")
  body
    header
      div lol
    .container
      h1 NodeSchool Chernivtsi Chapter
