//
// VARIABLES
// Here is a common variables for styles
//

// Common colors
$black: #000;
$white: #fff;
$half-black: rgba($black, .5);
$half-white: rgba($white, .5);

// Primary stickers colors
$primary-dark: #884142;
$primary-light: #e3e5d7;

// Secondary stickers colors
$secondary-dark: #3d3c49;
$secondary-light: #f1ecd6;

// Sizes
$font-size: 16px;
$section-padding: $font-size * 2;
